services:
	- type: web
		name: backend
		env: node
		plan: free
		autoDeploy: true
		healthCheckPath: /
		buildCommand: npm install
		startCommand: npm start
		envVars:
			- key: NODE_ENV
				value: production
			- key: NODE_VERSION
				value: "20"
			- key: MONGO_URI
				sync: false
			- key: EMAIL_HOST
				sync: false
			- key: EMAIL_PORT
				sync: false
			- key: EMAIL_USER
				sync: false
			- key: EMAIL_PASS
				sync: false
			- key: EMAIL_FROM
				sync: false
